body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial;
}
* {
outline: 1px solid red;
}
h1 {
display: block;
margin: 20px auto;
color: orange;
text-align: center;
font-size: 30px;
}
main {
width: 100%;
}
img {
display: block;
width: 100%;
}
.block {
display: inline-block;
margin: 1.5%;
width: 30%;
height: 100%;
}
.text {
position: relative;
top: -200px;
height: 200px;
background: rgba(125,125,125,0.7);
display: block;
}



















